body {
  background: #20262E;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.question {
  font-weight: bold;
}

.actNum, .totNum {
  font-style: italic;
}

.nottochoose {
  text-decoration-style: solid;
  text-decoration: line-through;
}
